/* @import "tailwindcss"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columns {
  display: inline;
  padding: 10px;
}

.input {
  padding: 5px 5px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
}

.table {
  list-style: none;
  padding: 0 0 40px 0px;
  margin: 0 auto;
  width: 80%;
}

.header {
  font-weight: bold;
  border-bottom: 2px solid #000;
  text-transform: uppercase;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.row span {
  text-align: center;
}

.row-single {
  display: grid;
  grid-template-columns: 1fr 8fr auto 1fr;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid #ddd;
}

.row-single span {
  text-align: center;
}

.text {
  white-space: nowrap;
}

.text-centered {
  text-align: center;
}

.filter {
  padding-top: 15px;
  padding-bottom: 40px;
  align-items: left;
}

.btn {
  font-weight: bold;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  text-decoration: none; 
  cursor: pointer;
}

.btn-primary {
  background-color: blue;
}

.btn-action {
  background-color: green;
}

.btn-warning {
  background-color: red;
}